@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Orbitron:wght@400..900&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-768px);
  }
}

.sliding-background {
  background-image: url('./images/cloudbackground.png');
  background-repeat: repeat;
  height: 2304px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: slide 60s linear infinite;
}

.content-container {
  height: 35em;
  width: 35em;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

h1 {
  text-align: center;
  font-family: 'Orbitron', serif;
  -webkit-text-stroke: 2px #8a8a8a;
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  left: 10px;
}

h2 {
  font-family: 'DynaPuff', serif;
  color: #8a8a8a;
  text-align: center;
}

.pickOne {
  font-family: 'Orbitron', serif;
  color: #8a8a8a;
  text-align: center;
}

.choice-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
  top: 30px;
}

.choiceButton {
  color: #00b4d8;
  -webkit-box-shadow: 5px 6px 15px 5px rgba(0, 0, 0, 0.56);
  box-shadow: 5px 6px 15px 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #ffffff 5%, #c9c9c9 100%);
  height: 6em;
  width: 6em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}

.choiceButton:hover {
  background: linear-gradient(to bottom, #c9c9c9 5%, #ffffff 100%);
  opacity: 1;
}

.choiceButton:focus {
  border: none;
  outline: none;
}

.choiceButton img {
  width: 70px;
  height: 70px;
}

.computer-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0px;
}

.computer-container img {
  width: 70px;
  height: 70px;
}

.result-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 400px;
  left: 130px;
}

.result-draw {
  color: #f5853f;
}

.result-win {
  color: #63d471;
}

.result-lose {
  color: #ff0b0b;
}

.playAgainButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #8a8a8a;
  font-family: 'DynaPuff', serif;
  font-size: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.playAgainButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #00b4d8;
  transform: translateY(-2px);
  border: none;
}

.playAgainButton:active {
  transform: translateY(1px);
  border: none;
}

.playAgainButton:focus {
  border: none;
  outline: none;
}
